@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*
===============
CSS Rest
===============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  list-style: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
===============
CSS Variables
===============
*/
:root {
  /* Text Colour */
  --primary: #430C8C;
  --secondary: #DCAA1B;
  --tertiary: #11D248;
  --white: #F5F5F5;
  --black: #0F111B;
  --accent: #C1262D;
  /* Gradients */
  --bgGradient: radial-gradient(ellipse at center, #EDEDED 0%,#FAFAFA 36%,#EBEBEB 100%);
  --mainGradient: linear-gradient(135deg, rgba(67,12,140,0.9542017490589986) 0%, rgba(231,196,98,1) 49%, rgba(115,229,147,1) 100%);
  --dLGradient: linear-gradient(-120deg, #4524E8 0%,rgba(71, 155, 190, 0.8) 99.87%);
  --blackGradient: linear-gradient(152deg, rgba(61,68,74,1) 0%, rgba(46,54,61,1) 20%, rgba(56,61,65,1) 41%, rgba(53,59,64,1) 57%, rgba(63,69,74,1) 79%, rgba(55,61,66,1) 100%, rgba(157,157,157,1) 100%);
  /* Box Shadow */
  --boxShadowPurple: 0px -1px 8.37px rgba(67,17,140,.5);
}

/* Dark Mode */
html[data-theme=dark] {
  --primary: #4524E8;
  --secondary: #C15D4F;
  --white: #0F111B;
  --black: #EDEDED;
  --accent: #479BBE;
  --whiteGradient: radial-gradient(ellipse at center, #EDEDED 0%,#FAFAFA 36%,#EBEBEB 100%);
  --dLGradient: linear-gradient(-120deg, #3911fb 0%,rgba(71, 155, 190, 0.2) 99.87%);
  --bgGradient: linear-gradient(152deg, rgba(61,68,74,1) 0%, rgba(46,54,61,1) 20%, rgba(56,61,65,1) 41%, rgba(53,59,64,1) 57%, rgba(63,69,74,1) 79%, rgba(55,61,66,1) 100%, rgba(157,157,157,1) 100%);
}

/*
===============
Base Style
===============
*/
html {
  font-family: lato, sans-serif;
  font-size: 120%;
  margin: 0px;
  color: var(--black);
  height: 100vh;
  overflow: hidden;
}

html,
body {
  background: var(--bgGradient);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
===============
Header
===============
*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98.7%;
  position: fixed;
  top: 0.6vh;
  left: 0.6vw;
  z-index: 100;
  box-shadow: var(--boxShadowPurple);
  background: var(--white);
  border-radius: 0.8em;
}

#headerLogo img {
  width: 25vw;
}

header nav {
  margin-right: 1em;
  display: flex;
  align-items: baseline;
}

header ul {
  display: flex;
}

.links a {
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.5em;
  margin: 0.3em;
  transition: all 0.18s ease-in-out;
  font-weight: 600;
  white-space: nowrap;
  border-bottom: solid var(--accent);
  color: var(--primary);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 8%;
  z-index: 1;
  margin: 0 -0.3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 5px 3px 8.37px rgba(69, 36, 232, 0.2);
  background: var(--white);
}

.dropdownContent a {
  display: block;
  margin: 1em;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropButton {
  background-color: var(--primary);
  color: var(--white);
}

nav a:hover {
  background: var(--primary) !important;
  color: var(--white);
  border-color: var(--primary);
}

/*Dark Mode Switch */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--black);
  float: right;
  border-radius: 100px;
  position: relative;
}

#switchLabel:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--white);
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + #switchLabel {
  background: var(--black);
}

#switch:checked + #switchLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: var(--white);
}

#switchLabel:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 600ms !important;
  transition-delay: 0 !important;
}

/*Dark Mode Switch */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--black);
  float: right;
  border-radius: 100px;
  position: relative;
}

#switchLabel:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--white);
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + #switchLabel {
  background: var(--black);
}

#switch:checked + #switchLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: var(--white);
}

#switchLabel:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 600ms !important;
  transition-delay: 0 !important;
}

/*
===============
Dark Mode Styles
===============
*/
html[data-theme=dark] .links a {
  color: #a5854a;
}

html[data-theme=dark] a.button {
  color: var(--accent) !important;
  border-color: var(--black) !important;
}

html[data-theme=dark] a.button:hover {
  color: var(--black) !important;
}

/*
===============
My css header
===============
*/
header #headerLogo {
  border-radius: 17px;
  background-color: #F5F5F5;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
header #headerLogo a {
  text-decoration: none;
  color: #a5854a;
}
header #headerLogo a p {
  font-weight: 600;
  font-size: 25px;
}
header #headerLogo a p span {
  font-weight: 1000;
  color: black;
}
header #headerLogo img {
  max-width: 50px;
  border-radius: 50px;
  margin: 10px;
  margin-left: 20px;
  background-color: #EAE1D0;
}
header nav .links {
  margin-right: 30px;
}
header nav .links a {
  color: #a5854a;
  border-bottom: solid #5e4c2a;
}

/*
===============
Responsive queries //////////////////////////////////////////////////////////////////////////////////////////////////////
===============
*/
/*
===============
DESKTOP
===============
*/
@media screen and (min-width: 850px) {
  #mobile_nav_ms, #myLinks, #styleModeMobile_ms {
    display: none;
  }
}
/*
===============
MOBILE
===============
*/
@media screen and (max-width: 850px) {
  body {
    position: absolute;
  }
  body header #desktop_nav_ms, body header #myLinks, body header .styleMode {
    display: none;
  }
  body header #mobile_nav_ms {
    display: block;
    color: #a5854a;
  }
  body header #mobile_nav_ms:hover {
    background: none !important;
  }
  body header #myLinks {
    position: relative;
    top: 80px;
    left: 0;
    width: 410px;
    top: 75px;
    left: -228px;
  }
  body header #myLinks a {
    color: #5e4c2a;
    font-size: 0.66em;
    border-bottom: solid #a5854a !important;
    border: 1px solid #a5854a;
    background-color: #EAE1D0 !important;
  }
  body header #myLinks a:hover {
    background-color: #a5854a !important;
    border-bottom: solid #EAE1D0 !important;
  }
  body header #myLinks #styleModeMobile_ms #switchLabel {
    top: -90px;
    right: 72px;
    background: #5e4c2a;
  }
}
#wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

#stage {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
}

.block {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  bottom: 0;
  color: #FFF;
}

#box1 {
  background-image: url(https://www.kappaellecomunicazione.com/wp-content/uploads/2014/10/portfolioBG.jpg);
  background-size: cover;
}

#box2 {
  background-image: url(https://image.freepik.com/premium-vector/luxurious-dark-brown-background-design_95742-264.jpg);
  background-size: cover;
  background-position: left;
}
#box2 .content {
  color: black;
}

#box3 {
  background-image: url(https://image.freepik.com/premium-vector/luxurious-dark-brown-background-design_95742-264.jpg);
  background-size: cover;
  background-position: left;
}

#box4 {
  background-image: url(https://www.performail.it/wp-content/uploads/2016/03/HP2.jpg);
  background-size: cover;
  background-position: top;
}

/*
===============
Responsive queries //////////////////////////////////////////////////////////////////////////////////////////////////////
===============
*/
/*
===============
MOBILE
===============
*/
@media screen and (max-width: 850px) {
  body main #stage .content {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
  }
  body main #stage .presentation_ms {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main #stage .presentation_ms img {
    max-width: 200px;
    max-height: 200px;
    background-image: url("https://www.fapceramiche.com/media/products/images/article/generated_fap_colornow_2016_beige_305x915_fondo_1600x1600_palette_fMRP_1_wr.jpg.520x516_q85_crop_upscale.jpg");
    border-radius: 100px;
  }
  body main #stage .presentation_ms h1 {
    text-transform: uppercase;
    color: #EAE1D0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 30px;
    margin-top: 20px;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  body main #stage .presentation_ms p {
    font-weight: 300;
  }
  body main #stage .presentation_ms .scroll_page_ms {
    margin-top: 20px;
  }
  body main #stage .presentation_ms .scroll_page_ms .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 5px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    transition: all 1s ease;
  }
  body main #stage .presentation_ms .scroll_page_ms .btn-circle i {
    transition: all 1s ease;
  }
  body main #stage .portfolio_ms {
    display: flex;
    justify-content: center;
    height: 2150px;
  }
  body main #stage .portfolio_ms .content {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main #stage .portfolio_ms .content a {
    text-decoration: none;
    color: black;
    z-index: 2;
  }
  body main #stage .portfolio_ms .content h1 {
    text-align: center;
    color: white;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 30px;
  }
  body main #stage .portfolio_ms .content h1 span {
    color: red;
  }
  body main #stage .portfolio_ms .content h2 {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
  }
  body main #stage .portfolio_ms .content .card {
    margin-bottom: 30px;
    background-color: #EAE1D0;
    box-shadow: 9px 9px 27px 4px #57595d;
  }
  body main #stage .portfolio_ms .content .card .card-body {
    height: 175px;
  }
  body main #stage .portfolio_ms .content .card h3 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #5e4c2a;
    font-weight: 600;
    letter-spacing: 0.1px;
  }
  body main #stage .portfolio_ms .content .card p {
    font-size: 15px;
    color: #a5854a;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  body main #stage .portfolio_ms .content .btn_git_ms {
    margin-top: 30px;
    border: 1px solid black;
    box-shadow: 3px 1px 19px 6px #eae1d0;
  }
  body main #stage .portfolio_ms .content .btn_git_ms h2 {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    margin-bottom: 0;
    letter-spacing: 0.4px;
  }
  body main #stage .portfolio_ms .content .btn_git_ms h2 i {
    color: white;
  }
  body main #stage .chi_sono_ms {
    display: flex;
    justify-content: center;
    height: 1150px;
  }
  body main #stage .chi_sono_ms .chi_sono2_ms {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main #stage .chi_sono_ms .chi_sono2_ms img {
    max-width: 200px;
    max-height: 200px;
    background-image: url("https://www.fapceramiche.com/media/products/images/article/generated_fap_colornow_2016_beige_305x915_fondo_1600x1600_palette_fMRP_1_wr.jpg.520x516_q85_crop_upscale.jpg");
    border-radius: 100px;
    box-shadow: 0px 2px 27px 0px white;
  }
  body main #stage .chi_sono_ms .chi_sono2_ms h1 {
    text-align: center;
    color: white;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 30px;
  }
  body main #stage .chi_sono_ms .chi_sono2_ms h1 span {
    color: red;
  }
  body main #stage .chi_sono_ms .chi_sono2_ms p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
  }
}
